.cuadrado-btn {
    position: relative;
    background-color: white;
    border: 2px solid #0057A4;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido esté distribuido en la parte superior e inferior */
    max-width: 247px;
    width: 100%;
    height: 173px;
}

.cuadrado-btn .triangle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-top: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 60px solid;
    border-right: 60px solid ;
}

@media (max-width: 768px) {

    .full-height {
        height: auto; 
  }
    .cuadrado-btn {
        font-size: 18px;
      width: 180px; 
      height: 120px; 
      font-size: 14px; 
    }
    
    .cuadrado-btn .triangle {

    border-top: 40px solid transparent;
    border-left: 40px solid transparent;
    border-bottom:40px solid;
    border-right: 40px solid ;
}
.row{
    display: contents;
}
}