{% extends 'empresa/base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block css %}
    {# <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> #}
    <link rel="stylesheet" href="{{ asset('css/empresa/general.css') }}">
    <link rel="stylesheet" href="{{ asset('css/empresa/menu/menu.css') }}">
{% endblock %}

{% block body_sidebar %}
    <div id="ehorario"></div>
{% endblock %}
