{% extends 'empresa/base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('css/empresa/menu/menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/empresa/horario/horario.css') }}">
{% endblock %}

{% block body_sidebar %}
<div class="CTN-principal">
    <div class="calendar-header">
        <button class="button-blanco" id="prevMonth">Anterior</button>
        <span class="mes" id="currentMonth"></span>
        <button class="button-blanco" id="nextMonth">Siguiente</button>
    </div>

    <div class="container-submenu">
        <div class="dropdown">
            <select>
                <option value="area">Area</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
        </div>
        <div class="dropdown">
            <select>
                <option value="puesto">Puesto</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
            </select>
        </div>
        <input type="text" id="nombreInput" placeholder="Nombre de la semana" />
        <button id="addNombre">Agregar Nombre</button>
    </div>

    <div class="calendar-body">
        <div class="table-container">
            <!-- Aquí empiezan las tablas -->
            <table class="calendar-table">
                <tbody>
                    <tr>
                        <td class="semana" colspan="2"></td>
                        <td class="semana domingo">Dom</td>
                        <td class="semana lunes">Lun</td>
                        <td class="semana martes">Mar</td>
                        <td class="semana miercoles">Mié</td>
                        <td class="semana jueves">Jue</td>
                        <td class="semana viernes">Vie</td>
                        <td class="semana sabado">Sáb</td>
                    </tr>
                    <tr class="personal">
                        <td colspan="2" id="personal1" class="personal">Semana 1</td>
                        <td class="domingo" id="semana1_dom"></td>
                        <td class="lunes" id="semana1_lun"></td>
                        <td class="martes" id="semana1_mar"></td>
                        <td class="miercoles" id="semana1_mie"></td>
                        <td class="jueves" id="semana1_jue"></td>
                        <td class="viernes" id="semana1_vie"></td>
                        <td class="sabado" id="semana1_sab"></td>
                    </tr>
                </tbody>
            </table>
            <table class="calendar-table">
                <tbody>
                    <tr>
                        <td class="semana" colspan="2"></td>
                        <td class="semana domingo">Dom</td>
                        <td class="semana lunes">Lun</td>
                        <td class="semana martes">Mar</td>
                        <td class="semana miercoles">Mié</td>
                        <td class="semana jueves">Jue</td>
                        <td class="semana viernes">Vie</td>
                        <td class="semana sabado">Sáb</td>
                    </tr>
                    <tr class="personal">
                        <td colspan="2" id="personal1" class="personal">Semana 2</td>
                        <td class="domingo" id="semana1_dom"></td>
                        <td class="lunes" id="semana1_lun"></td>
                        <td class="martes" id="semana1_mar"></td>
                        <td class="miercoles" id="semana1_mie"></td>
                        <td class="jueves" id="semana1_jue"></td>
                        <td class="viernes" id="semana1_vie"></td>
                        <td class="sabado" id="semana1_sab"></td>
                    </tr>
                </tbody>
            </table>
            <table class="calendar-table">
                <tbody>
                    <tr>
                        <td class="semana" colspan="2"></td>
                        <td class="semana domingo">Dom</td>
                        <td class="semana lunes">Lun</td>
                        <td class="semana martes">Mar</td>
                        <td class="semana miercoles">Mié</td>
                        <td class="semana jueves">Jue</td>
                        <td class="semana viernes">Vie</td>
                        <td class="semana sabado">Sáb</td>
                    </tr>
                    <tr class="personal">
                        <td colspan="2" id="personal1" class="personal">Semana 3</td>
                        <td class="domingo" id="semana1_dom"></td>
                        <td class="lunes" id="semana1_lun"></td>
                        <td class="martes" id="semana1_mar"></td>
                        <td class="miercoles" id="semana1_mie"></td>
                        <td class="jueves" id="semana1_jue"></td>
                        <td class="viernes" id="semana1_vie"></td>
                        <td class="sabado" id="semana1_sab"></td>
                    </tr>
                </tbody>
            </table>
            <table class="calendar-table">
                <tbody>
                    <tr>
                        <td class="semana" colspan="2"></td>
                        <td class="semana domingo">Dom</td>
                        <td class="semana lunes">Lun</td>
                        <td class="semana martes">Mar</td>
                        <td class="semana miercoles">Mié</td>
                        <td class="semana jueves">Jue</td>
                        <td class="semana viernes">Vie</td>
                        <td class="semana sabado">Sáb</td>
                    </tr>
                    <tr class="personal">
                        <td colspan="2" id="personal1" class="personal">Semana 4</td>
                        <td class="domingo" id="semana1_dom"></td>
                        <td class="lunes" id="semana1_lun"></td>
                        <td class="martes" id="semana1_mar"></td>
                        <td class="miercoles" id="semana1_mie"></td>
                        <td class="jueves" id="semana1_jue"></td>
                        <td class="viernes" id="semana1_vie"></td>
                        <td class="sabado" id="semana1_sab"></td>
                    </tr>
                </tbody>
            </table>
            <table class="calendar-table">
                <tbody>
                    <tr>
                        <td class="semana" colspan="2"></td>
                        <td class="semana domingo">Dom</td>
                        <td class="semana lunes">Lun</td>
                        <td class="semana martes">Mar</td>
                        <td class="semana miercoles">Mié</td>
                        <td class="semana jueves">Jue</td>
                        <td class="semana viernes">Vie</td>
                        <td class="semana sabado">Sáb</td>
                    </tr>
                    <tr class="personal">
                        <td colspan="2" id="personal1" class="personal">Semana 5</td>
                        <td class="domingo" id="semana1_dom"></td>
                        <td class="lunes" id="semana1_lun"></td>
                        <td class="martes" id="semana1_mar"></td>
                        <td class="miercoles" id="semana1_mie"></td>
                        <td class="jueves" id="semana1_jue"></td>
                        <td class="viernes" id="semana1_vie"></td>
                        <td class="sabado" id="semana1_sab"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalHeader"></h2>
            <h3 id="modalSubheader"></h3>
            <div>
                <label for="ingreso">Hora de Ingreso:</label>
                <input type="time" id="ingreso" />
            </div>
            <div>
                <label for="salida">Hora de Salida:</label>
                <input type="time" id="salida" />
            </div>
            <div>
                <label> <input type="radio" name="modalidad" id="presencial" /> Presencial </label>
                <label> <input type="radio" name="modalidad" id="remoto" /> Remoto </label>
            </div>
            <div>
                <label> <input type="checkbox" id="aplicarATodo" /> Aplicar a todo el personal </label>
            </div>
            <div>
                <button class="btn-cancel">Cancelar</button>
                <button class="btn-accept">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/calendario/calendario.js') }}"></script>
{% endblock %}


