{% extends 'base.html.twig' %}

{% block title %}Hello InicioController!{% endblock %}

{% block body %}
{# <div {{vue_component('Notificacion')}}></div> #}
<script>
    const eventSource = new EventSource("{{ mercure('https://localhost/books/1')|escape('js') }}");
    console.log(eventSource);
    eventSource.onmessage = event => {
        // Will be called every time an update is published by the server
        let data = JSON.parse(event.data);
        console.log(JSON.parse(event.data));
        console.log(data.user)
    }
    </script>

{# <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.sw.js" defer></script>
<script>
    window.OneSignalDeferred = window.OneSignalDeferred || [];
    window.OneSignalDeferred.push(async function(OneSignal) {
        await OneSignal.init({
            appId: "5d8ae3d0-a286-4b75-a04d-f2d792241fd4",
            notifyButton: {
                enable: true
            },
            serviceWorkerParam: { scope: "/myPath/myCustomScope/" },
            serviceWorkerPath: "myPath/OneSignalSDKWorker.js",
        });
    });
</script> #}
{% endblock %}
