{% extends 'empresa/base.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('css/empresa/empleados/empleados_individual.css') }}">
	<link rel="stylesheet" href="{{ asset('css/empresa/empleados/empleados_masivo.css') }}">
	<link rel="stylesheet" href="{{ asset('css/empresa/Menu/Menu.css') }}">
{% endblock %}

{% block body_sidebar %}
	
	<section class="tabs-wrapper">
    <div class="tabs-container">
        <div class="tabs-block">
            <div class="tabs">
                <input type="radio" name="tabs" id="tab1" checked="checked" />
                <label for="tab1"> Registro individual </label>
                <div class="tab">
                    <h2>Datos del personal </h2>
                    <form class="container">
                        <div class="form-row">
                            <div class="inputContainer col-md-5">
                                <input type="text" class="input" placeholder="Nombre">
                                <p class="label">Nombre</p>
                            </div>
                            <div class="inputContainer col-md-5">
                                <input type="text" class="input" placeholder="Apellido">
                                <p class="label">Apellido</p>
                            </div>
                            <div class="inputContainer col-md-2">
                                <input type="text" class="input" placeholder="DNIs">
                                <p class="label">DNI</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="inputContainer col-md-6">
                                <input type="email" class="input" placeholder="Correo electronico">
                                <p class="label">Correo electronico</p>
                            </div>
                            <div class="inputContainer col-md-3">
                                <input type="date" class="input" placeholder="Fecha de nacimiento">
                                <p class="label label2">Fecha de nacimiento</p>
                            </div>
                            <div class="inputContainer col-md-3">
                                <select class="input" placeholder="Area">
                                    <option value="" disabled selected hidden></option>
                                    <option>Administrador</option>
                                    <option>Colaborador</option>
                                </select>
                                <p class="label">Area</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="inputContainer col-md-4">
                                <select class="input" placeholder="Puesto">
                                    <option value="" disabled selected hidden></option>
                                    <option>Administrador</option>
                                    <option>Colaborador</option>
                                </select>
                                <p class="label">Puesto</p>
                            </div>
                            <div class="inputContainer col-md-4">
                                <select class="input" placeholder="ROL">
                                    <option value="" disabled selected hidden></option>
                                    <option>Super-Admin</option>
                                    <option>Administrador</option>
                                    <option>Coordinar</option>
                                    <option>Supervisor</option>
                                    <option>Colaborador</option>
                                </select>
                                <p class="label">ROL</p>
                            </div>
                            <div class="inputContainer col-md-4">
                                <select class="input" placeholder="Sede">
                                    <option value="" disabled selected hidden></option>
                                    <option>Miraflores</option>
                                    <option>ATE</option>
                                    <option>La Molina</option>
                                </select>
                                <p class="label">Sede</p>
                            </div>
                        </div>
                        <div class="linea-azul"></div>
                        <div class="form-row">
                            <div class="inputContainer col-md-4">
                                <input type="text" class="input" placeholder="USUARIO">
                                <p class="label">USUARIO</p>
                            </div>
                            <div class="inputContainer col-md-4">
                                <input type="password" class="input" placeholder="Contraseña">
                                <p class="label">Contraseña</p>
                            </div>
                            <div class="inputContainer col-md-4">
                                <input type="password" class="input" placeholder="Repetir Contraseña">
                                <p class="label">Repetir Contraseña</p>
                            </div>
                        </div>
                        <div class="inputContainer">
                            <input type="checkbox" id="terms" class="checkboxInput">
                            <span class="checkboxLabel">Acepto los términos y condiciones</span>
                        </div>
                        <button type="submit" class="submitBtn">Registrar</button>
                    </form>
                </div>
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2"> Registro masivo </label>
                <div class="tab">
                    <div class="box_masivo">
                        <form class="form">
                            <div class="downloadLink">
                                <p class="label1">Descargar Formato</p>
                                <a class="imput_xl" href="{{ asset('archivo.xlsx') }}" download>Formato_masico.xlxs</a>
                            </div>
                            <div class="Carga_excel">
                                <p class="label1">Subir Excel</p>
                                <input type="file" id="excelFile" class="fileInput">
                            </div>
                            <div class="inputContainer">
                                <input type="checkbox" id="terms" class="checkboxInput">
                                <span class="checkboxLabel">Acepto los términos y condiciones</span>
                            </div>
                            <button type="submit" class="submitBtn">Enviar</button>
                        </form>
                    </div>
                </div>
                <input type="radio" name="tabs" id="tab3" />
                <label for="tab3"> Historial </label>
                <div class="tab">
                    <h2>Vue</h2>
                    <p>Though developed in the year 2016, this <a href="https://vuejs.org/">JavaScript framework</a> has already made its way into the market and has proven its worth by offering various features. Its dual integration mode is one of the most attractive features for creating high-end SPA or Single Page Application.It is a much reliable platform for developing cross-platform.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
