/*-----------------------formulario-------*/

h2{
    font-size: 1.2rem;
}

.linea-azul {
    height: 2px;
    background-color: #0074D9;
    margin-bottom:1rem ;
}


.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
 
.input2{
    width: 80% ; 
    margin-left: 40px;
}
.label2{
    margin-left: 40px;
}
.input3{
    width: 110% ;
}
/** ----------Responsive de registro individual--------*/
 @media (max-width: 945px) {
   
    .tabs label {
        font-size: 12px;
        width: 100%;
       
      }
      /* Ajustes para las filas de formulario */
    .form-row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1rem;
    }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
  }
  .input2{
    width: 100% ; 
    margin-left: 0px;
}
.label2{
    margin-left: 0px;
}
.input3{
    width: 100% ;
}

 }

 
  
 
  
