{% extends 'empresa/base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block css %}
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/empresa/general.css') }}">
    <link rel="stylesheet" href="{{ asset('css/empresa/asistencia/style-asistencia.css') }}">
    <link rel="stylesheet" href="{{ asset('css/empresa/Menu/Menu.css') }}">
{% endblock %}

{% block body_sidebar %}
<body style="margin:15px">
    <section class="d-flex justify-content-center align-items-center full-height distancia" >
                <div class="container">
                    <div class="row justify-content-between">
                    <!-- Input de Fecha -->
                    <div class="col-md-4 mb-4 d-flex align-items-center">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                        </div>
                        <input type="date" class="input-form mg-input2 col-md-8" style="height: 40px; font-weight: bold;">
                    </div>
    
                    <!-- Botón Buscar e Input Numérico -->
                    <div class="col-md-8 mb-4 d-flex justify-content-end">
                        <div class="d-flex align-items-center col-12">
                            <button class="col-2" style="background-color: #fff; border: none;">
                                <img src="path/to/lupa.png" alt="Lupa">
                                <span style="padding-right: 10px; color: #0057A4; font-weight: bold;">Buscar</span>
                            </button>
                            <input type="number" class="input-form col-10" style="font-weight: bold;">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between py-5">
    <div class="inputContainer col-md-3 mb-3">
        <select class="form-control mg-input2 input">
            <option value="" disabled selected hidden></option>
            <option>Administrador</option>
            <option>Colaborador</option>
        </select>
        <label class="label" style="color: #1565D8;">Área</label>
    </div>
    <div class="inputContainer col-md-3 mb-3">
        <select class="form-control mg-input2 input">
            <option value="" disabled selected hidden></option>
            <option>Administrador</option>
            <option>Colaborador</option>
        </select>
        <label class="label" style="color: #1565D8;">Puesto</label>
    </div>
    <div class="inputContainer col-md-2 mb-3">
        <select class="form-control mg-input1 input">
            <option value="" disabled selected hidden></option>
            <option>Administrador</option>
            <option>Colaborador</option>
        </select>
        <label class="label" style="color: #FFC107;">Estado Ingreso</label>
    </div>
    <div class="inputContainer col-md-2 mb-3">
        <select class="form-control mg-input1 input">
            <option value="" disabled selected hidden></option>
            <option>Administrador</option>
            <option>Colaborador</option>
        </select>
        <label class="label" style="color: #FFC107;">Estado Salida</label>
    </div>
    <div class="inputContainer col-md-2 mb-3">
        <select class="form-control mg-input2 input">
            <option value="" disabled selected hidden></option>
            <option>Presencial</option>
            <option>Virtual</option>
            <option>Híbrido</option>
        </select>
        <label class="label" style="color: #1565D8;">Modalidad</label>
    </div>
</div>

                    
                    <div class="row py-2">
                        <table class="table custom-table" style="border-collapse: separate; border-spacing: 0; width: 100%; border-radius: 15px; overflow: hidden;">
                            <thead>
                                <tr >
                                    <th  >Nombre</th>
                                    <th>Puesto</th>
                                    <th>Área</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Salida</th>
                                    <th>Modalidad</th>
                                    <th>H. Extra</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <td>Juan Pérez</td>
                                    <td>Gerente</td>
                                    <td>Administración</td>
                                    <td>2024-08-01</td>
                                    <td>2024-08-10</td>
                                    <td>Presencial</td>
                                    <td>5 horas</td>
                                </tr>
                                <tr>
                                    <td>María López</td>
                                    <td>Analista</td>
                                    <td>Finanzas</td>
                                    <td>2024-07-15</td>
                                    <td>2024-07-25</td>
                                    <td>Remoto</td>
                                    <td>2 horas</td>
                                </tr>
                                <tr>
                                    <td>María López</td>
                                    <td>Analista</td>
                                    <td>Finanzas</td>
                                    <td>2024-07-15</td>
                                    <td>2024-07-25</td>
                                    <td>Remoto</td>
                                    <td>2 horas</td>
                                </tr>
                                <tr>
                                    <td>María López</td>
                                    <td>Analista</td>
                                    <td>Finanzas</td>
                                    <td>2024-07-15</td>
                                    <td>2024-07-25</td>
                                    <td>Remoto</td>
                                    <td>2 horas</td>
                                </tr>
                                <tr>
                                    <td>María López</td>
                                    <td>Analista</td>
                                    <td>Finanzas</td>
                                    <td>2024-07-15</td>
                                    <td>2024-07-25</td>
                                    <td>Remoto</td>
                                    <td>2 horas</td>
                                </tr>
                                <tr>
                                    <td>María López</td>
                                    <td>Analista</td>
                                    <td>Finanzas</td>
                                    <td>2024-07-15</td>
                                    <td>2024-07-25</td>
                                    <td>Remoto</td>
                                    <td>2 horas</td>
                                </tr>
                                <tr>
                                    <td>María López</td>
                                    <td>Analista</td>
                                    <td>Finanzas</td>
                                    <td>2024-07-15</td>
                                    <td>2024-07-25</td>
                                    <td>Remoto</td>
                                    <td>2 horas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
