{% extends 'empresa/base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('css/empresa/menu/menu.css') }}">
{% endblock %}

{% block body_sidebar %}
	<div class="container mt-4 h-100">
		<div class="card p-4 shadow-sm" style="font-family: 'Courier New', Courier, monospace;">
			<div class="card-body text-center">
				<h1 class="mb-4"><strong>Contenido Pendiente</strong></h1>
				<p class="text-muted">Este contenido aún no está disponible. ¡Vuelve pronto!</p>
			</div>
		</div>
	</div>
{% endblock %}
