* {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}

.A-Fondo {
  height: 81vh;
  background-color: #00A3FF;
  border-bottom-right-radius: 100px;
}

/* -------------------------------------Hora en tiempo real------------------------------------------ */
.box {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-bottom:3vh ;
}

.time-box {
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 35px;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

/* -------------------------------------Informacion de marcacion------------------------------------- */
.box-2{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 60vh; /* Alto del 100% de la ventana */
}
.F-blanca {
  font-size: 20px;
  margin: 5px;
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 85%;
  height: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

#map.maps {
  height: 41vh;
  width: 40vh; 
  border-radius: 20px;
  margin-bottom: 3vh;
  margin-top: 1.5vh;
}

.img-central {
  width: 25vh;
  height: 28vh;
  padding: 3vh;
}

.parrafo1,
.parrafo2 {
  width: 50vh;
  padding: 2vh;
  margin: 1px;
}

.E-boton {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 193px;
  height: 36px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.Verde{
  background-color: #06d80dd2;
}

.Rojo{
  background-color: #ff001ed2;
}

/* Footer */
footer {
  width: 100%;
  height: 20%;
  background-color: #00A3FF;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.A-blanca {
  width: 100%;
  height: 21%;
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: #b3cefa;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  width: 271px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 20px;
  border: #E5EFFF;
}

@media screen and (max-width: 330px) {
  .F-blanca {
    width: 280px;
  }
}

@media screen and (min-width: 500px) {
  .F-blanca {
    width: 400px;
  }
}

@media screen and (min-height: 740px) {
  /* Hora en tiempo real */
  .box {
    margin-bottom: 4vh;
  }

  .time-box {
    width: 223px;
    height: 45px;
  }

  #map.maps {
    height: 41vh;
    width: 30vh; 
    border-radius: 20px;
    margin-bottom: 3vh;
    margin-top: 1.5vh;
  }
}

