

.imagen-empresa{
align-items: center;
justify-content: center;
width: 150px;
height: 150px;
padding: 20px;
}

.nombre-empresa{
    align-items: center;
    justify-content: center;
    width: 60%;
}
.box_contenido {
    display: flex;
    align-items: center;
}
p .cont_label {
    width: 100px; /* Ancho fijo del span */
    text-align: right; /* Alinea el texto a la derecha dentro del span */
    position: relative; /* Permite usar `right` para posicionamiento */
    right: 0; /* Coloca el span en la posición deseada desde el borde derecho del contenedor */
}
.input2 {
    width: 40%; 
    display: inline-block; /* Ajusta el tamaño del label al contenido */
    border: none; /* Elimina cualquier borde predeterminado */
    border-bottom: 1px solid #ccc; /* Añade una línea en la parte inferior */
    padding: 0; /* Elimina el relleno por defecto */
    margin: 0; /* Elimina el margen por defecto */
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    background: none; /* Elimina cualquier fondo */
    text-align: left; /* Alinea el texto a la izquierda si es necesario */
    color: #000; /* Ajusta el color del texto */
}

.input2:focus {
    outline: none; /* Elimina el contorno de enfoque */
}

.editar-icono img {
    width: 20px; /* Ajusta el tamaño del ícono según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
}


div.Plbra2.Plbra_xtr{ 
    width: 300px;
    padding-left: 25px;
    display: flex;
}

.input_xtr{
    margin-left: 5px;
    width: 70px;
    height: 20px;
    
}
.p_str{
    width: 150px;
}

select.input_xtr{
    width: 100px;
}